body {
  margin: 0;
  background-image: url(Images/pattern.jpg);
}

nav {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

ul {
  list-style-type: none;
  padding: 20px;
}

li {
  display: inline;
  margin-right: 30px;
}

ul li a {
  text-decoration: none;
  color: blue;
}
ul li a:hover {
  color: red;
}

main {
  background-color: grey;
  margin: 120px 150px 40px;
  padding: 30px;
}

main h1 {
  text-align: center;
}

article {
  margin-top: 20px;
  border-bottom: 3px solid black;
}
article a {
  text-decoration: none;
  font-size: 18px;
}
article a:hover {
  color: red;
}
footer {
  background-color: aqua;
  padding: 10px;
}

footer h5 {
  text-align: center;
  font-size: 16px;
}
